nav{
    background-color: rgb(50, 50, 50);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5vw;
    box-sizing: border-box;
}

nav > button {
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    color: #f7f7f7;
    background-color: transparent;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}



@media (min-width:0px) and (max-width:641px)  { 
    nav{
        background-color: rgb(50, 50, 50);
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0vw;
        box-sizing: border-box;
    }
    
    nav > button {
        margin: 1rem;
        padding: 1rem;
        box-sizing: border-box;
    }

 }


@media (min-width:641px)  {
    nav{
        background-color: rgb(50, 50, 50);
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0vw;
        box-sizing: border-box;
    }
 }

@media (min-width:961px) { 
    nav{
        background-color: rgb(50, 50, 50);
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 0vw;
        box-sizing: border-box;
    }
}