.gamePage{
    background-color: green;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.gameSection{
    background-color:  #35654d;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: start;
    justify-content: start;
    width: 85%;
}
.gameSection > iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.adSection{
    background-color: lightgreen;
    height: 100%;
    width: 15%;
}




@media (min-width:0px) and (max-width:641px)  { 
  
    .gamePage{
        background-color: green;
        width: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
    }
    
    .gameSection{
      width: 100%;
      height: 90%;
    }

    .adSection{
        background-color: lightgreen;
        height: 10%;
        width: 100%;
    }
 }


@media (min-width:641px)  {
    .gamePage{
        background-color: green;
        width: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
    }
    
    .gameSection{
      width: 100%;
      height: 85%;
    }

    .adSection{
        background-color: lightgreen;
        height: 15%;
        width: 100%;
    }
}

@media (min-width:961px) { 
    .gamePage{
        background-color: green;
        width: 100%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        overflow: hidden;
    }
    
    .gameSection{
        width: 85%;
        height: 100%;
    }

    .adSection{
        background-color: lightgreen;
        height: 100%;
        width: 15%;
    }
}