

@media (min-width:0px) and (max-width:641px)  { 
    .gameCard{
        width: 9rem;
        padding: 0;
        border: none;
        cursor: pointer;
        margin: 1rem;
        text-decoration: none;
    }
    .gameCard > img {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 8px;
        object-fit: cover;
        box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
    }
    .gameCard > p{
        color: #f7f7f7;
        font-family: sans-serif;
        font-weight: bolder;
        text-decoration: none;
        font-size: 1.25rem;
        margin: 0;
        margin-top: 0.5rem;
    }
    

 }





@media (min-width:641px)  {
    .gameCard{
        width: 11rem;
        padding: 0;
        border: none;
        cursor: pointer;
        margin: 1rem;
        text-decoration: none;
    }
    .gameCard > img {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 8px;
        object-fit: cover;
        box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);
    }
    .gameCard > p{
        color: #f7f7f7;
        font-family: sans-serif;
        font-weight: bolder;
        text-decoration: none;
        font-size: 1.25rem;
        margin: 0;
        margin-top: 0.5rem;
    }
    
    
 }

@media (min-width:961px) { 
    .gameCard{
        width: 13rem;
        padding: 0;
        border: none;
        cursor: pointer;
        margin: 1rem;
        text-decoration: none;
    }
    .gameCard > img {
        width: 100%;
        aspect-ratio: 1;
        border-radius: 8px;
        object-fit: cover;
        box-shadow: 0px 0px 16px 0px rgba(86, 77, 77, 0.25);
    }
    .gameCard > p{
        color: #f7f7f7;
        font-family: sans-serif;
        font-weight: bolder;
        text-decoration: none;
        font-size: 1.25rem;
        margin: 0;
        margin-top: 0.5rem;
    }
    
    

}